* {
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}

.global-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background-color: #FAFBFD;
  padding: 40px 70px 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.sidebar > .logo {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #0B0F32;
}

.sidebar > .logo > span {
  color: #F7542E;
}

.sidebar > nav {
  flex: 1;
}

.sidebar > nav > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.sidebar > nav > ul > li > button {
  border: none;
  padding: 5px 0;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  color: #9E9E9E;
  font-family: 'Noto Sans JP', sans-serif;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.sidebar > nav > ul > li > button.actual {
  color: #090F31;
  font-weight: 700;
}

.content {
  flex: 1;
  padding: 50px 0 0 90px;
}

section.buttons > h1 {
  color: #4F4F4F;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin: 0 0 28px 0;
}

section.buttons > .buttons-wrapper > .row {
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 350px));
}

section.buttons > .buttons-wrapper > .row-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(220px, 350px));
  margin-bottom: 45px;
}

section.buttons > .buttons-wrapper > .row:not(:last-child) {
  margin-bottom: 45px;
}

section.buttons > .buttons-wrapper > .row:last-child > div:not(:first-child) > p {
  color: transparent;
}

section.buttons > .buttons-wrapper .button-code {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 12px;
  color: #000;
  margin-top: 0;
}

section.buttons > .buttons-wrapper .button-code.hover {
  color: #828282;
}

.content > .icons-src {
  margin-top: 50px;
  font-family: 'Ubuntu Mono';
  font-size: 12px;
  color: #828282;
}

.content > footer > p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #A9A9A9;
  margin-top: 35px;
}

.content > footer > p > a {
  font-weight: 700;
}